.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
*.pdf
*.zip
*.png
*.class
*.html

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
/WebApplication1/nbproject/private/
/labb3/nbproject/private/
/labb3/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/AccToReadme/nbproject/private/
/AccToReadme/build/
