.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
*.pdf
*.zip
*.png
*.class
*.html
*.jar
apache-tomcat-9.0.40/
password.txt
username.txt

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
/labb3/nbproject/private/
/labb3/build/
